body {
    margin: 0 !important;
}

.e-richtexteditor .e-rte-content .e-content ol {
    list-style: auto;
    margin-left: 24px;
}

.e-richtexteditor .e-rte-content .e-content ul {
    list-style: disc;
    margin-left: 24px;
}